/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #a46ba5, #4b666f);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
}

.login-box {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
    font-size: 26px;
    color: #333;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #66a6ff;
    box-shadow: 0 0 5px rgba(102, 166, 255, 0.5);
}

.btn {
    width: 100%;
    background: lightgray;
    color: #090909;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #7b7d80;
}

.redirect {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    color: #555;
}

.redirect a {
    color: black
}